{% with msg = get_flashed_messages() %} 
    {% if msg %} 
        <script> alert("{{msg[-1]}}") </script> 
    {% endif %} 
{% endwith %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>홈</title>
</head>
<body>
    <h3>홈</h3>
    {% if userid %}
        {{userid}}님! <a href="/logout/" style="color: black">로그아웃</a>
    {% else %}
        <a href="/signup/" style="color: black">회원가입</a><br>
        <a href="/login/" style="color: black">로그인</a>
    {% endif %}
</body>
<html>
